{% extends "../parent.njk" %}

{% block header %}
{% endblock %}

{% block body %}
<h1>INDEX:</h1>
<h2><a href="/rotacija/list">Rotacija</a></h2>
{% endblock %}

{% block left %}
{% endblock %}

{% block right %}
{% endblock %}