{% extends "../parent.njk" %}

{% block header %}
    <h1>ROTACIJA - index</h1>
{% endblock %}

{% block body %}
<h2><a href="/rotacija/list">Rotacija LIST</a></h2>
{% endblock %}

{% block left %}
{% endblock %}

{% block right %}
    <h4>User: [{{username}}]</h4>
    <h3><a href="/logout">Logout</a></h3>

{% endblock %}