{% extends "../parent.njk" %}

{% block header %}
    <h1>{{title}}</h1>
    <h2><a class="btn btn-primary btn-lg" href="/rotacija/create">NOVI unos</a></h2>
    <hr>
{% endblock %}

{% block body %}

  <ul class="list-group">
    {% for item in rotacija_list %}
        {% include "./list-item-template.njk" %}
      {% else %}
        <li>Nema postojećih unosa za rotaciju. Lista ja prazna.</li>
    {% endfor %}
  </ul>

{% endblock %}

{% block left %}
<h2><a href="/rotacija">Rotacija</a></h2>
  {{ super() }}
{% endblock %}

{% block right %}
{% endblock %}
