{% extends "../parent.njk" %}

{% block header %}
{% endblock %}

{% block body %}
<h1>TODOS - index</h1>
<h2><a href="/todos/list">Todos LIST</a></h2>
{% endblock %}

{% block left %}
{% endblock %}

{% block right %}
{% endblock %}