{% extends "../parent.njk" %}

{% block header %}
{% endblock %}

{% block body %}
<h1>TODOS - index</h1>
<h2><a href="/todos/list">Todos LIST</a></h2>
 
  <ul class="list-group">
    {% for item in todos %}
<li class="list-group-item">

    <div>
        {{ item.text }}
    </div>


</li>
      {% else %}
        <li>Nema postojećih unosa za TODO. Lista ja prazna.</li>
    {% endfor %}
  </ul>

{% endblock %}

{% block left %}
{% endblock %}

{% block right %}
{% endblock %}