{% extends "../parent.njk" %}

{% block header %}
    <h1>{{title}}</h1>
    <h2><a href="/todos/list">Cancel</a></h2>
    <hr>
{% endblock %}

{% block body %}

    <form action="/todos/{{doc._id}}/update" method="post">
      
        <label for="text">Text:</label>

        <div>
            <textarea name="text" id="text" cols="30" rows="10" class="form-control" >{{doc.text}}</textarea>
        </div>

        <div>
            <input type="submit"class="btn btn-primary btn-lg" value="Potvrdi novi unos" class="form-control">
        </div>

    </form>
{% endblock %}

{% block left %}
{% endblock %}

{% block right %}
{% endblock %}

