<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>App</title>
</head>

<body>
    <h1><a href="/rotacija">App</a></h1>

    <div class="container-fluid">
        <div class="row">
            
            <div class="col-sm-2">
                <section class="left">
                    {% block left %}
                    {% endblock %}
                </section>
            </div>

            <div class="col-sm-8">
                <section class="header">
                    {% block header %}
                        header 
                    {% endblock %}
                </section>

                <section class="body">
                    {% block body %}
                        body 
                    {% endblock %}
                </section>
            </div>   

            <div class="col-sm-2">
                <section class="right">
                    {% block right %}
                    right 
                    {% endblock %}
                </section>
            </div>  
            
        </div>
    </div>

 <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script> -->
  <script src="../../javascripts/vendor/socket.io/socket.io.js"></script>
  <script>
    var socket = io('http://185.205.209.49:3003');
    socket.on('news', function (data) {
      console.log(data);
      socket.emit('my other event', { my: 'data' });
    });
  </script>
  
</body>

</html>
